body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #385361;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* ******** START MIN-WIDTH 576PX ******** */
@media (min-width: 576px) {
    img {
        height: 230px;
    }
}
/* ******** END MIN-WIDTH 576PX ******** */
/* ******** START MIN-WIDTH 770PX ******** */
@media (min-width: 770px) {
    img {
        height: 200px;
    }
}
/* ******** END MIN-WIDTH 770PX ******** */
/* ******** START MIN-WIDTH 1200PX ******** */
@media (min-width: 1200px) {
    img {
        height: 300px;
    }
}
/* ******** END MIN-WIDTH 1200PX ******** */