body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10%;
}

h1 {
    font-weight: 900;
    margin-top: .5rem;
    color: #385361;
}

header {
    padding: 15px;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* ******** START MIN-WIDTH 576PX ******** */
@media (min-width: 576px) {
    img {
        height: 230px;
    }
}
/* ******** END MIN-WIDTH 576PX ******** */
/* ******** START MIN-WIDTH 770PX ******** */
@media (min-width: 770px) {
    header {
        padding: 30px;
    }

    img {
        height: 200px;
    }
}
/* ******** END MIN-WIDTH 770PX ******** */
/* ******** START MIN-WIDTH 1200PX ******** */
@media (min-width: 1200px) {
    img {
        height: 300px;
    }
}
/* ******** END MIN-WIDTH 1200PX ******** */